# Auto detect text files and perform LF normalization
* text=auto
*.kw filter=lfs diff=lfs merge=lfs -text
KrispNoiseFilter filter=lfs diff=lfs merge=lfs -text
KrispNoiseFilter.xcframework.zip filter=lfs diff=lfs merge=lfs -text
